version: '3.8'
services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: varos_teste_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres123@db:5432/varos_teste_db
      NEXT_TELEMETRY_DISABLED: "1"
    depends_on:
      - db
    volumes:
      - .:/app
    stdin_open: true
    tty: true

volumes:
  db_data:
